#Cache-Control
# 1 Month for most static assets
<filesMatch ".(jpg|jpeg|png|gif|pdf|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
#1 week for others
<filesMatch ".(css|js|html|shtml)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>

DirectoryIndex index.html

ErrorDocument 404 /error/404.shtml
ErrorDocument 502 /error/502.shtml
ErrorDocument 504 /error/504.shtml
ErrorDocument 508 /error/508.shtml

Options -Indexes

Options +Includes
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
AddHandler server-parsed .shtml
AddOutputFilter INCLUDES .html
AddHandler server-parsed .html
Options Indexes FollowSymLinks Includes